* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d0e0f;
}


body,
input,
textarea,
select,
button {
    color: white;
    font: 400 1rem "Roboto", sans-serif;
}

.container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #0d0e0f;
}
button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

main {
    width: 80%;
    margin: 80px auto;
}

.search-box {
    display: flex;
    justify-content: center;
}

.search-box input {
    border-radius: 8px 0 0 8px;
    border: 0;
    outline: none;
    height: 37px;
    padding: 10px 16px;
    background-color: white;
    color: #000
}

.search-box button {
    border-radius: 0 8px 8px 0;
    border: 0;
    height: 37px;
    padding: 4px 16px;
    background-color: white;
}

.pokemon-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-list {
    margin-top: 10px;
    column-count: 4;
}

.pokemon-detail {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

.pokemon-detail img {
    width: 300px;
}

.pokemon-detail p {
    margin-top: 1rem;
}

.pokemon-detail .pokemon-info {
    text-align: start;
}

.pokemon-detail h1 {
    display: flex;
    justify-content: center;
}